<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.class4.user.mapper.UserMapper">

	<select id="idCheck" resultType="int">
  		select count(*) as total from users where userId = #{userId}
  	</select>
  	
  	<insert id="JoinReq">
  		insert into users(userId,userPw,userName,userGender,userAge,userEmail1,userEmail2,addrBasic,addrDetail,addrZipNum ) 
  		values(#{userId},#{userPw},#{userName},#{userGender},#{userAge},#{userEmail1},#{userEmail2},#{addrBasic},#{addrDetail},#{addrZipNum})
  	</insert>
  	
  	<select id="Login" resultType="UserVO">
  		select * from users where userId = #{userId} and userPw=#{userPw}
  	</select>
	
	<insert id="genreList" >
		insert into user_genre (userId, genre) values(#{userId},#{genre})
	</insert>
	<insert id="actorList" >
		insert into user_actor (userId, actor) values(#{userId},#{actor})
	</insert>
	<insert id="directorList" >
		insert into user_director (userId, director) values(#{userId},#{director})
	</insert>
	
</mapper>
